
.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}
.rounded-pill {
  border-radius: 50rem !important;
  height: calc(2em + 1rem + 3px);
  padding: 1rem 1.2rem;
} 
.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 12px 0 0 21px;
  transition: all 200ms;
  opacity: 0.5;
}
.form-control:focus{
  box-shadow:0 0 0 0.2rem rgba(0, 123, 255, 0)!important;
}
.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 90%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  font-weight: 600;
  color: #7952B3;
  
} 


/*btn */
.rounded-btn{
  border-radius: 50rem !important;
}
.btn-primary {
    color: #fff;
    background-color: #7952B3;
    border-color:#7952B3;
}
.btn.focus, .btn:focus{
	  box-shadow: 0 0 0 0.2rem rgba(97,64,146,1);
}
.btn-primary:hover{
    border-color: #614092;
    background: #614092;
    color: #ffffff;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(97,64,146,1);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    border-color: #614092;
    background: #614092;
    color: #ffffff;
}
.form-control:focus{
	border-color: #614092;
	box-shadow: 0 0 0 0.2rem rgba(181, 150, 206, 0.25)
}
.logo-color{
	color: #614092;
    background-color: #614092;
    border-radius: 47%;
} 

.open-close-eye{
  float: right;
  position: relative;
  z-index: 1;
  left: -25px;
  top: -33px;
  color: #7B7B7B;
  cursor: pointer;
  font-size: 15px;
}