<app-header></app-header>

<div class="col-md-6 offset-md-3">
  <span class="anchor" id="formResetPassword"></span>
  <hr class="mb-5">

  <!-- form card reset password -->
  <div class="card card-outline-secondary">
      <div class="card-header">
          <h3 class="mb-0">Create New Password </h3>
      </div>
      <div class="card-body">
      <form *ngIf="!loginform" #resetpwd="ngForm" (ngSubmit)="btnGenerate(resetpwd.value)">
                <div ngModelGroup="resetpasswords" #resetpasswords="ngModelGroup" appCheckPassword>
                  <!-- <h3 style="text-align: center;margin-bottom: 10px;">CREATE NEW PASSWORD</h3> -->
                  <br>
                  <div class="group material-input">
                      <label class="form-control-label">Enter a new password</label>
                    <input name="newPassword" type="password" (keyup)="onKey1($event)" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,32}$"
                      class="form-control input-password" maxlength="30" [(ngModel)]="fors.password" #newPassword="ngModel" required="true">
  
  
                    <i class="fas fa-eye-slash open-close-eye" id="eyemask" (click)="eyemask()"></i>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    
  
                    <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert text-danger">
                      <div [hidden]="!newPassword.hasError('required')">New Password is required</div>
                      <div [hidden]="!newPassword.hasError('pattern')">Please enter the password according to the
                        requirement</div>
                    </div>
                    <span class="error-msg">
                      <i *ngIf="!passkey3" class="fa fa-times reqf new">Must be <strong>8 to 32 characters long</strong></i>
                      <i *ngIf="!passkey1" class="fa fa-times reqf new">Must have <strong>1 uppercase letter</strong></i>
                      <i *ngIf="!passkey" class="fa fa-times reqf new">Must have <strong>1 lowercase letter </strong></i>
                      <i *ngIf="!passkey2" class="fa fa-times reqf new">Must have <strong>1 number </strong></i>
                      <i *ngIf="!passkey4" class="fa fa-times reqf new"> Must have <strong>1 special character like
                          (!@#$,etc.) </strong></i>
                    </span>
   
                  </div>
                  <div class="group material-input">
                      <label class="form-control-label">Enter a confirm password</label>
                    <input name="confirmPassword" type="password" (keyup)="onKey2($event)" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,32}$"
                      class="form-control input-conpassword" maxlength="30" [(ngModel)]="fors.confirmPassword" #confirmPassword="ngModel"
                      required="true">
                    <i class="fas fa-eye-slash open-close-eye" id="eyemask" (click)="eyemasks()"></i>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    
  
                    <!-- validation -->
                    <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert text-danger">
                      <div [hidden]="!confirmPassword.hasError('required')">Confirm Password is required</div>
                      <div [hidden]="!confirmPassword.hasError('pattern')">Please enter the password according to the
                        requirement</div>
                    </div>
                    <span class="error-msg">
                      <i *ngIf="!passlast3" class="fa fa-times reqf new">Must be <strong>8 to 32 characters long</strong></i>
                      <i *ngIf="!passlast1" class="fa fa-times reqf new">Must have <strong>1 uppercase letter</strong></i>
                      <i *ngIf="!passlast" class="fa fa-times reqf new">Must have <strong>1 lowercase letter </strong></i>
                      <i *ngIf="!passlast2" class="fa fa-times reqf new">Must have <strong>1 number </strong></i>
                      <i *ngIf="!passlast4" class="fa fa-times reqf new"> Must have <strong>1 special character like
                          (!@#$,etc.) </strong></i>
                    </span>
                    <!-- validation -->
  
                  </div>
                  <div *ngIf="!failure" class="alert text-danger" style="padding: 0rem 1.25rem;">{{message}}</div>
                  <div class="form-group"><br>
                    <button class="btn btn-success btn-lg float-right savebtn" [disabled]="resetpwd.invalid">
                      Create
                    </button>
                  </div>
                  <br>
                </div>
              </form>

        </div>
      </div>
      <!-- /form card reset password --> 
    </div>