<app-header></app-header>
<div class="col-md-6 offset-md-3 mt-5">
  <span class="anchor" id="formChangePassword"></span>
  <hr class="mb-5">

  <!-- form card change password -->
  <div class="card card-outline-secondary">
    <div class="card-header">
      <h3 class="mb-0">Change Password</h3>
      <!-- <button class="btn btn-primary pull-right" style="margin: 0 2rem;" [routerLink]="backtohome()">Back</button> -->

    </div>
    <div class="card-body">
      <form #changepwdForm="ngForm" (ngSubmit)="dochangePassword(changepwdForm.value,changepwdForm)">

        <div ngModelGroup="passwords" #passwords="ngModelGroup" appCheckPassword>

          <div class="form-group row mb-3">

            <div class="col-xl-12 mb-3" style="margin: auto;">
              <label class="form-control-label">Old Password<span class="text-danger ml-2">*</span></label>
              <input name="oldPassword" type="password" (keyup)="onKey($event)" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,32}$"
              id="input1" class="form-control" maxlength="30" [(ngModel)]="passwordDetails.oldpasswordmod"
              #oldPassword="ngModel" required="true">
            <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="alert text-danger">
              <div [hidden]="!oldPassword.hasError('required')">Old Password is required</div>
              <div [hidden]="!oldPassword.hasError('pattern')">Please enter the password according to the
                requirement</div>
            </div>
            <span class="error-msg">
              <i *ngIf="!passval3" class="fa fa-times reqf new">Must be <strong>8 to 32 characters long</strong></i>
              <i *ngIf="!passval1" class="fa fa-times reqf new">Must have <strong>1 uppercase letter</strong></i>
              <i *ngIf="!passval" class="fa fa-times reqf new">Must have <strong>1 lowercase letter </strong></i>
              <i *ngIf="!passval2" class="fa fa-times reqf new">Must have <strong>1 number </strong></i>
              <i *ngIf="!passval4" class="fa fa-times reqf new"> Must have <strong>1 special character like
                  (!@#$,etc.) </strong></i>
            </span>

            </div>
          </div>

          <div class="form-group row mb-3">
            <div class="col-xl-12  mb-3" style="margin: auto;">
              <label class="form-control-label">New Password<span class="text-danger ml-2">*</span></label>
              <input name="newPassword" type="password" (keyup)="onKey1($event)" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,32}$"
                        class="form-control required" maxlength="30" [(ngModel)]="passwordDetails.newpasswordmod"
                        #newPassword="ngModel" required="true">

                      <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert text-danger">
                        <div [hidden]="!newPassword.hasError('required')">New Password is required</div>
                        <div [hidden]="!newPassword.hasError('pattern')">Please enter the password according to the
                          requirement</div>
                      </div>
                      <span class="error-msg">
                        <i *ngIf="!passkey3" class="fa fa-times reqf new">Must be <strong>8 to 32 characters long</strong></i>
                        <i *ngIf="!passkey1" class="fa fa-times reqf new">Must have <strong>1 uppercase letter</strong></i>
                        <i *ngIf="!passkey" class="fa fa-times reqf new">Must have <strong>1 lowercase letter </strong></i>
                        <i *ngIf="!passkey2" class="fa fa-times reqf new">Must have <strong>1 number </strong></i>
                        <i *ngIf="!passkey4" class="fa fa-times reqf new"> Must have <strong>1 special character like
                            (!@#$,etc.) </strong></i>
                      </span>
            </div>
          </div>

          <div class="form-group row mb-3">
            <div class="col-xl-12 mb-3" style="margin: auto;">
              <label class="form-control-label">Confirm Password<span class="text-danger ml-2">*</span></label>
            
                <input name="confirmPassword" type="password" (keyup)="onKey2($event)" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,32}$"
                class="form-control required" maxlength="30" [(ngModel)]="passwordDetails.confirmPasswordmod"
                #confirmPassword="ngModel" required="true">

              <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert text-danger">
                <div [hidden]="!confirmPassword.hasError('required')">Confirm Password is required</div>
                <div [hidden]="!confirmPassword.hasError('pattern')">Please enter the password according to the
                  requirement</div>
              </div>
              <span class="error-msg"> 
                <i *ngIf="!passlast3" class="fa fa-times reqf new">Must be <strong>8 to 32 characters long</strong></i>
                <i *ngIf="!passlast1" class="fa fa-times reqf new">Must have <strong>1 uppercase letter</strong></i>
                <i *ngIf="!passlast" class="fa fa-times reqf new">Must have <strong>1 lowercase letter </strong></i>
                <i *ngIf="!passlast2" class="fa fa-times reqf new">Must have <strong>1 number </strong></i>
                <i *ngIf="!passlast4" class="fa fa-times reqf new"> Must have <strong>1 special character like
                    (!@#$,etc.) </strong></i>
              </span> 
          </div>
          </div>
          <div class="form-group">
            <button class="btn btn-success btn-lg float-right savebtn" type="submit"
              [disabled]="changepwdForm.invalid">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /form card change password -->
</div>
