<div class="row">
  <div class="col-md-6 mx-auto">
      <br>
    <form action="">
      <div class="form-group">
        <input type="text" id="name" class="form-control rounded-pill" required>
        <label class="form-control-placeholder" for="name">Name</label>
      </div>
      <div class="form-group">
        <input type="text" id="Location" class="form-control rounded-pill" required>
        <label class="form-control-placeholder" for="name">Location</label>
      </div>
      <div class="form-group">
        <input type="text" id="Building" class="form-control rounded-pill" required>
        <label class="form-control-placeholder" for="name">Building:</label>
      </div>
      <div class="form-group">
        <input type="text" id="Floor" class="form-control rounded-pill" required>
        <label class="form-control-placeholder" for="name">Floor:</label>
      </div>
      <div class="form-group">
        <input type="text" id="Area" class="form-control rounded-pill" required>
        <label class="form-control-placeholder" for="name">Area Of Location:</label>
      </div>
      <div class="form-group">
        <input type="text" id="Floor" class="form-control rounded-pill" required>
        <label class="form-control-placeholder" for="name">Number Of Floor:</label>
      </div>

    </form>
  </div>

</div>