footer{
    height: 25px !important;
    width: 100% !important;
    position: fixed !important;
    bottom: 0px !important;
    background-color: #58585a !important;
    text-align: center !important;
    color: #fff !important;
    z-index: 250000 !important;
    line-height: 1.8;
}